body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: purple;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,violet);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width:50%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 5px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 40px blueviolet ;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 20;
}
#full-stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(maroon,red);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}